.footer {
  background: #ccc;
  padding: 100px;
  &__inner {
    background: #666;
    padding: 40px 0;
  }
  &__heading {
    margin: 0 auto;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 142.857%;
    color: #fff;
  }
  &__list-item {
    margin: 20px auto 0;
    display: flex;
  }

  .item + .item {
    margin-left: 20px;
  }
  &__link {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
    color: #fff;
    transition: transform 0.5s;
  }
  .item:hover > &__link {
    color: #5ebbff;
    transform: translateY(-10px);
  }
  &__separate {
    width: 1px;
    height: 20px;
    background: #fff;
  }

  .item-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 16px;
    border: 1px solid #fff;
    &:hover {
      background: #fff;
    }
  }
  .item-contact + .item-contact {
    margin-left: 20px;
  }
  &__icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

  .CopyRight {
    margin-top: 30px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166%;
    color: #fff;
  }
}
