@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);

    @include abstracts.breakpoints(lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
    }
}

.top-bar {
    position: relative;
    z-index: 1;
    @extend %flexItemsCenter;
    padding: 30px 0;

    @include abstracts.breakpoints(lg) {
        padding: 20px 0;
    }

    @include abstracts.breakpoints(md) {
        justify-content: space-between;
        padding: 16px 0;
    }
}

.navbar {
    margin-left: 129px;

    @include abstracts.breakpoints(xl) {
        margin-left: 28px;
    }

    @include abstracts.breakpoints(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 9;
        margin-left: 0;
        padding: 20px 0;
        background: var(--sidebar-bg);
        border-radius: 0px 20px 20px 0;
        translate: -100%;
        transition: translate 0.5s;
        &.show {
            translate: 0;
            box-shadow: 0px 40px 90px 20px var(--sidebar-shadow);
        }
        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }
    @include abstracts.breakpoints(sm) {
        inset: 0 20% 0 0;
    }
    &__close-btn {
        display: none;
        @include abstracts.breakpoints(lg) {
            display: block;
            padding: 10px 40px;
        }
        @include abstracts.breakpoints(sm) {
            padding: 0 20px 10px;
        }
    }

    &__overlay {
        transition: visibility, opacity;
        transition-duration: 0.5s;
        visibility: hidden;
        opacity: 0;
        @include abstracts.breakpoints(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;
            background: rgba($color: #000000, $alpha: 0.4);
        }
    }
    &__list {
        @extend %flexItemsCenter;
        @include abstracts.breakpoints(lg) {
            flex-direction: column;
            align-items: start;
            overflow-y: auto;
            overscroll-behavior: contain;
            height: calc(100% - 40px);
        }
        @include abstracts.breakpoints(md) {
            height: calc(100% - 140px);
        }
        @include abstracts.breakpoints(md) {
            height: calc(100% - 124px);
        }
    }
    &__item {
        &:hover .dropdown {
            display: block;
        }
        @include abstracts.breakpoints(lg) {
            width: 100%;
            &:hover .dropdown {
                display: none;
            }
            &--active .dropdown {
                display: block !important;
            }
        }
    }
    &__link {
        @extend %flexItemsCenter;
        height: 50px;
        gap: 6px;
        padding: 0 15px;
        font-size: 15px;
        font-weight: 500;
        line-height: 146.6%;

        @include abstracts.breakpoints(lg) {
            justify-content: space-between;
            padding: 0 40px;
            font-size: 1.6rem;
            line-height: 150%;
        }
        @include abstracts.breakpoints(sm) {
            padding: 0 20px;
            height: 44px;
        }
    }
    &__arrow {
        transition: rotate 0.3s;
        margin-top: 3px;
        @include abstracts.breakpoints(lg) {
            rotate: -90deg;
        }
    }
    &__item--active &__arrow {
        rotate: 0deg;
    }
}

.top-act {
    @extend %flexItemsCenter;
    column-gap: 20px;
    margin-left: auto;
    @include abstracts.breakpoints(md) {
        margin-left: 0;
    }
    &__group {
        @extend %flexItemsCenter;
        min-width: 50px;
        height: 50px;
        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
    }

    &__group--single {
        @include abstracts.breakpoints(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 13px 20px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 146.6%;
    }
    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }
    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 8px;
    }
}

.nav-btn {
    height: 50px;
    align-items: center;
    padding: 0 40px;
    @include abstracts.breakpoints(sm) {
        padding: 0 20px;
        height: 44px;
    }
    &__title,
    &__qnt {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }
    &__title {
        margin-left: 16px;
    }
    &__qnt {
        margin-left: auto;
    }
}
