@use "../abstracts";
html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(93%) sepia(100%)
    saturate(0%) hue-rotate(224deg) brightness(108%) contrast(109%);

  --body-bg: #292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: #00000033;
  --top-act-group-separate: #ededf6;

  @include abstracts.screen(lg) {
    --header-shadow-color: #00000033;
  }

  // Dropdown
  --dropdown-bg-color: #2f3441;
  --dropdown-shawdown-color: #171c2866;
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(20%) sepia(22%)
    saturate(442%) hue-rotate(185deg) brightness(91%) contrast(97%);
  --top-menu-border-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(86%) sepia(6%)
    saturate(2076%) hue-rotate(198deg) brightness(117%) contrast(96%);

  // Sidebar
  --sidebar-bg: #292e39;
  --sidebar-shadow: #171c2866;

  // category-item
  --cate-item-bg: #171c28;
  --cate-item-thumb-bg: #292e39;
  --cate-item-title-color: #fff;

  // Button
  --filter-btn-color: #fff;
  --filter-btn-bg: #171c28;

  // Product card
  --product-card-bg: #171c28;
  --product-card-shadow-color: rgba(0, 0, 0, 0.2);

  // Filter
  --filter-form-tag-bg: var(--dropdown-bg-color);
  --filter-form-input-color: #fff;
  --filter-form-bg: #2f3441;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --filter-form-tag-bg: #171c28;
  --filter-form-arrow: var(--dropdown-arrow-color);

  //Auth
  --auth-intro-bg: #171c28;
  --auth-content-bg: #292e39;
  --auth-intro-color: #b9babe;
  --auth-intro-text-color: #b9babe;

  //Form
  --auth-intro-placeholder-color: #b9babe;
  --auth-intro-heading-color: #b9babe;
}
