@use "../abstracts";
html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(93%) sepia(100%) saturate(0%) hue-rotate(224deg) brightness(108%)
        contrast(109%);

    --body-bg: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: #00000033;
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: #00000033;
    }

    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shawdown-color: #171c2866;
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(20%) sepia(22%) saturate(442%) hue-rotate(185deg)
        brightness(91%) contrast(97%);
    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(86%) sepia(6%) saturate(2076%) hue-rotate(198deg)
        brightness(117%) contrast(96%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: #171c2866;

    // category-item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #fff;

    // Button
    --filter-btn-color: #fff;
    --filter-btn-bg: #171c28;

    // Product card
    --product-card-bg: #171c28;
    --product-card-shadow-color: rgba(0, 0, 0, 0.2);
}
