// Filter button
.filter-btn {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 0 14px;
    height: 36px;

    color: var(--filter-btn-color);

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.857%;
    border-radius: 6px;
    background: var(--filter-btn-bg);
}

// Like button
.like-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);

    &:not(&--liked) &__icon--liked {
        display: none;
    }
    &--liked &__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 6px;
    }
}

//Buttons
.btn {
    height: 46px;
    padding: 0 20px;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 6px;
    background: #9e9da8;
    user-select: none;
    + .btn {
        margin-left: 20px;
    }
    &--text {
        color: #9e9da8;
        background: transparent;
        font-weight: 400;
    }

    &--primary {
        background: #ffb700;
        color: #171c28;
    }
    &--outline {
        background: #fff;
        border: 1px solid #d2d1d6;
    }

    &[disabled],
    &--disable {
        opacity: 0.5;
        pointer-events: none;
    }
    &--rounded {
        border-radius: 99px;
    }
    &:hover {
        opacity: 0.9;
    }
}
