<footer class="footer">
    <div class="footer__inner">
        <div class="row">
            <h1 class="footer__heading">Grocery Mart</h1>
        </div>
        <div class="row">
            <ul class="footer__list-item">
                <li class="item">
                    <a href="#!" class="footer__link">About Us</a>
                </li>
                <li class="item">
                    <div class="footer__separate"></div>
                </li>
                <li class="item">
                    <a href="#!" class="footer__link">Portfolio</a>

                </li>
                <li class="item">
                    <div class="footer__separate"></div>
                </li>
                <li class="item">
                    <a href="#!" class="footer__link">Service</a>

                </li>
                <li class="item">
                    <div class="footer__separate"></div>
                </li>
                <li class="item">
                    <a href="#!" class="footer__link">Contact Us</a>
                </li>
            </ul>
        </div>

        <!-- Contact -->
        <div class="row">
            <ul class="footer__list-item">
                <li class="item-contact">
                    <a href="#!" class="link__contact">
                        <img src="./assets/icons/facebook.svg" alt="" class="footer__icon">
                    </a>
                </li>
                <li class="item-contact">
                    <a href="#!" class="link__contact">
                        <img src="./assets/icons/instagram.svg" alt="" class="footer__icon">
                    </a>
                </li>
                <li class="item-contact">
                    <a href="#!" class="link__contact">
                        <img src="./assets/icons/tiktok.svg" alt="" class="footer__icon">
                    </a>
                </li>
                <li class="item-contact">
                    <a href="#!" class="link__contact">
                        <img src="./assets/icons/youtube.svg" alt="" class="footer__icon">
                    </a>
                </li>
            </ul>
        </div>
        <p class="CopyRight">CopyRight from HuuSang handsome boy.</p>
    </div>
</footer>